:root {
  --primary-color: #01fd9c;
  --background-color: #1c1b22;
  --text-color: #fcfcfd;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--background-color);
  color: #01fd9c;
}

/* Navbar */

.navbar a {
  color: var(--text-color);
  text-decoration: none;
}

.navbar-brand {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar-brand::after {
  content: ".";
  color: var(--primary-color);
  font-size: 25px;
}

.nav-item .nav-link {
  margin: 0px 5px 0px 0px;
  font-size: 16px;
  position: relative;
  text-transform: uppercase;
}

.nav-item .nav-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 3px;
  width: 100%;
  left: 0;
  background: #01fd9c;
  transition: 1s ease-in-out;
  transform: scaleX(0);
  border-radius: 25px;
}

.nav-item .nav-link:hover::after {
  color: var(--text-color);
  transform: scaleX(1);
  box-shadow: 0 0 25px var(--primary-color), 0 0 50px var(--primary-color),
    0 0 100px var(--primary-color);
}

.nav-item a:hover {
  color: var(--text-color);
}

.navbar a:hover {
  color: var(--text-color);
}

.navbar-toggler {
  background: var(--primary-color);
  color: var(--background-color);
  border: 0px;
  outline-width: 0px;
  width: 50px;
  height: 40px;
}

.navbar-toggler:hover {
  box-shadow: 0 0 25px var(--primary-color), 0 0 50px var(--primary-color),
    0 0 100px var(--primary-color);
  transform: scale(1.1);
  transition: 1s ease-in-out;
}

.navbarButton {
  background: var(--primary-color);
  padding: 5px 20px;
  border-radius: 25px;
  border: 1px solid var(--primary-color);
  color: var(--background-color);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.navbarButton:hover {
  box-shadow: 0 0 25px var(--primary-color), 0 0 50px var(--primary-color),
    0 0 100px var(--primary-color);
  transition: 1s ease-in-out;
}

.navbarToggler {
  position: relative;
}

.navbarToggler.active .hello {
  display: none;
  transition: 1s ease-in-out;
}

.navbarToggler.active .hi {
  display: block;
  transition: 1s ease-in-out;
}

.navbarToggler:not(.active) .hello {
  display: block;
  transition: 1s ease-in-out;
}

.navbarToggler:not(.active) .hi {
  display: none;
  transition: 1s ease-in-out;
}

/* Hero */

.heroButtons a {
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #1c1b22;
  color: #fcfcfd;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  height: 60px 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  margin: 0px 5px 0px 0px;
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: none;
}


.heroButtons a i {
  margin: 5px 5px;
}

.heroButtons a:nth-child(1) {
  border-radius: 25px;
  background: var(--primary-color);
  color: var(--background-color);
  padding: 10px 15px;
  font-weight: 600;
}

.heroButtons a:hover {
  background: var(--primary-color);
  color: var(--background-color);
  box-shadow: 0 0 25px var(--primary-color), 0 0 50px var(--primary-color),
    0 0 100px var(--primary-color);
  transition: 1s ease-in-out;
}

.circle {
  width: 370px;
  height: 370px;
  background: var(--background-color);
  border-radius: 49% 51% 18% 82% / 61% 45% 55% 39%;
  border: var(--primary-color) solid 5px;
  position: relative;
  animation: rotating alternate 3s infinite;
}

@keyframes rotating {
  0% {
    box-shadow: 0 0 5px var(--primary-color), 0 0 25px var(--primary-color),
      0 0 50px var(--primary-color);
  }

  100% {
    box-shadow: 0 0 25px var(--primary-color), 0 0 50px var(--primary-color),
      0 0 100px var(--primary-color), 0 0 150px var(--primary-color);
  }
}

.circle img {
  position: absolute;
  bottom: 0px;
  left: -15px;
  border-radius: 49% 51% 18% 82% / 61% 45% 55% 39%;
  width: 400px;
}

/* About */

.wave {
  width: 200px;
  height: 20px;
  background: transparent
    url("data:image/svg+xml,%3Csvg%20width%3D%22200%22%20height%3D%2250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0%2C25%20C50%2C5%2050%2C45%20100%2C25%20C150%2C5%20150%2C45%20200%2C25%22%20fill%3D%22transparent%22%20stroke%3D%22%2301fd9c%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E")
    no-repeat center center;
  background-size: cover;
}

.name {
  color: #01fd9c;
}

.title:hover {
  text-shadow: 0 0 25px var(--primary-color), 0 0 50px var(--primary-color),
    0 0 100px var(--primary-color);
  transition: 1s ease-in-out;
}

.progress {
  height: 5px;
  box-shadow: 0 0 25px var(--primary-color), 0 0 50px var(--primary-color);
}

.progress-green {
  background: var(--primary-color);
  color: var(--background-color);
  transition: 1s steps(10);
}

/* Projects */

.card {
  background: #1c1b22;
  height: 25rem;
  width: 25rem;
  border-radius: 0px 0px 25px 25px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card:hover {
  box-shadow: 0 0 25px var(--primary-color);
  transition: 1s ease-in-out;
}

/* Footer Start */
.footer {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.95),
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.95)
    ),
    url(../images/common-bg.svg);
}

.subscribe {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 50%;
}

.subscribe:hover {
  box-shadow: 0 0 25px var(--primary-color), 0 0 50px var(--primary-color),
    0 0 100px var(--primary-color);
  transition: 1s ease-in-out;
}

.subscribe i {
  margin: 5px;
  color: var(--background-color);
}

.footerButtons button {
  background: var(--primary-color);
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--background-color);
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  height: 60px 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  margin: 0px 5px 0px 0px;
  color: var(--primary-color);
  font-weight: 600;
}

.footerButtons button i {
  margin: 5px 5px;
  color: var(--background-color);
}

.footerButtons button:hover {
  background: var(--background-color);
  box-shadow: 0 0 5px var(--primary-color);
  transition: 1s ease-in-out;
}

.footerButtons button:hover i {
  color: var(--primary-color);
  transition: 1s ease-in-out;
}

.border-green {
  border: 3px solid var(--primary-color);
}

.scroller {
  background: var(--background-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  animation: 3s jumping alternate infinite;
}

@keyframes jumping {
  0%{
    transform: translateY(-5px);
  }
  100%{
    transform: translateY(0px);
  } 
}

.scroller:hover {
  background: var(--primary-color);
  color: var(--background-color);
  transition: 1s ease-in-out;
}
