*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


#rock, #paper, #scissors{
    border-radius: 25px;
}

#rock:hover, #paper:hover, #scissors:hover{
    transition: 0.5s ease-in-out;
    box-shadow: 0px 0px 5px rgb(107, 107, 107),
    0px 0px 10px rgb(107, 107, 107);
}

#gameResult{
    display: none;
}

#user{
    transform: rotate(90deg);
}

#computer{
    transform: rotate(-90deg);
}